$color-accent: #b40006;

$color-text-primary: #fff;
$color-text-secondary: rgba(#fff, 0.6);

$color-bg: #1f1f21;
$color-bg-secondary: #2d2d2f;

$font-tiny: 0.625rem;
$font-small: 0.8125rem;
$font-regular: 1rem;
$font-large: 1.5rem;
$font-xlarge: 2.5rem;
$font-xxlarge: 4rem;

$grid-columns: 12 !default;
$grid-rows: 6 !default;
$grid-gap: 15px !default;
$grid-row-height: 50px !default;
$grid-auto-layout: true !default;

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
