@import "../../assets/styles/utils/mixins.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  height: 100px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;

  @include container;
  @include breakpoint-up(xl) {
    padding: 0;
  }
  @include breakpoint-down(md) {
    justify-content: flex-start;
  }
}
