@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.search-result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .thumbnail {
    @include breakpoint-down(md) {
      min-width: 46%;
      width: 46%;
    }

    @include breakpoint-down(sm) {
      min-width: 44%;
      width: 44%;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    color: $color-text-primary;
    text-align: center;
  }
}
