@import "./assets/styles/base/reset.scss";
@import "./assets/styles/utils/variables.scss";
@import "./assets/styles/base/fonts.scss";
@import "./assets/styles/utils/grid.scss";

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $color-bg;
}

h1 {
  font-size: $font-xlarge;
  margin: 0;
}

h5 {
  font-size: 40px;
  font-weight: 600;
  color: $color-text-primary;
  line-height: 1.1;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  color: $color-text-primary;
}

p {
  font-size: $font-regular;
  margin: 0;
  line-height: 1.5;
}
// Proxima Nova Bold

// font-family: proxima-nova, sans-serif;
// font-weight: 700;
// font-style: normal;

// Proxima Nova Semibold

// font-family: proxima-nova, sans-serif;
// font-weight: 600;
// font-style: normal;

// Proxima Nova Regular

// font-family: proxima-nova, sans-serif;
// font-weight: 400;
// font-style: normal;

// Proxima Nova Light

// font-family: proxima-nova, sans-serif;
// font-weight: 300;
// font-style: normal;

// Proxima Nova Medium

// font-family: proxima-nova, sans-serif;
// font-weight: 500;
// font-style: normal;
